[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jira = "*"
pycrypto = "*"
requests = "*"
requests-oauthlib = "*"
ipython = "*"
filemagic = "*"
elasticsearch = "*"
jq = "*"
pytz = "*"
configparser = "*"

[requires]
python_version = "3.7"
